@{
    ViewData["Title"] = "Staff Portal";
}
<h2>Staff Portal</h2>
<iframe src="https://carc.gov.jo/en/staff-portal"
        style="width:100%; height:800px; border:none;">
    Your browser does not support iframes.
</iframe>
