@model WebApplication1.Models.Country

<a class="btn btn-secondary btn-sm mb-3" href="/Country">Back to List</a>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h3>Add New Country</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">

                <div class="mb-3">
                    <label class="form-label">Organizational Structure Name:</label>
                    <input asp-for="CountryName" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success">Add Organizational Structure</button>
            </form>
        </div>
    </div>
</div>
