@media (max-width: 991px) {
    .table-observations {
        font-size: 0.83rem;
    }

        .table-observations th, .table-observations td {
            padding: 3px 5px;
        }
}

@media (max-width: 700px) {
    .table-observations {
        font-size: 0.77rem;
    }
}
